@page
@model MyApp.Namespace.LoginModel
@{
      ViewData["Title"] = "Login";
}



    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 text-center">
                
                    <h1 style="font-size: 56pt; font-family: 'Bungee Hairline';">ARIA*</h1>
                    <h4 style="font-family: 'Bungee Hairline';">Artificial <br />Reviewer<br /> Intelligent <br />Assessor</h4>

            

                    <hr />

                    <div class="text-center">
                        <a href="#" class="">English</a> | <a href="#" class="">Fran&ccedil;ais</a>
                        
                    </div>
            </div>


            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                <div class="container">
                
                    <br />
                        

                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <div class="display-4" style="font-size: 24px!important;">
                                    <i class="fa fa-info-circle"></i> Tip!</strong> 
                                </div>
                                <br />
                                <p>
                                Enter anything as a network ID and password
                                </p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>

                        <br />

                        <form id="loginForm" class="needs-validation" novalidate>
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="txtNetworkID" type="text" class="form-control" name="txtNetworkID" placeholder="Network ID" required>
                                </div>
                                <div class="invalid-feedback">
                                    Network ID is required.
                                </div>
                                <div class="input-group">
                                    <input id="txtPassword" type="password" class="form-control" name="txtPassword" placeholder="Password" required>
                                </div>                         
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <div class="">
                                
                                <button type="submit" class="btn btn-success btn-block">Log In</button>

                            </div>

                        </form>
                    </div>
            </div>

        </div>
    </div>

<!-- End Main Content -->

    <!-- Page-Level jQuery scripts -->
    
        
        @section Scripts {
                <script>

                (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                    });
                }, false);
                })();

                $(function () {
                    $("#loginForm").submit(function (e) {
                        e.preventDefault();
                        var form = $("#loginForm");

                        form.validate();
                        
                        if(form.valid()) {
                            window.location.href = "/Step1";
                        }
                        
                    });
                });
            
                </script>


        }
        

    



