@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web application was developed for experimental and learning purposes only. All data displayed is fabricated.</p>
