@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="container">

    <div class="card">
        <div class="card-header bg-info">
            <h1>Privacy Policy</h1>
        </div>
        <div class="card-body bg-light">
            <p>This web application was developed for experimental and learning purposes only. All scoring data displayed is fabricated. 
                Any other information has been pulled from OpenData sources (e.g. Funding Decisions Database).
            </p>
        </div>
    </div>
    
</div>