@page
@model MyApp.Namespace.Step2Model
@{
          ViewData["Title"] = "Step2";
}

<!-- Main Content -->
    <div class="container-fluid">


        <!-- JUMBOTRON-->
        <div class="jumbotron" style="padding: 2rem 2rem !important;">

            <h1 class="display-4">
                Other - Travel Awards: 2019 - Summer
            </h1>

            

            <div class="alert alert-warning" role="alert">
                <h2 >
                    <i class="fa fa-exclamation-circle"></i> Prepare Competition for Pre-Ranking
                </h2>
               
            </div>            


            <hr />

            <!-- PROGRAM INFORMATION ACCORDION CONTROL -->
            <div id="accordion">

                <div class="card panel-default">
                    <div class="card-header panel-heading">
                        <a class="collapsed card-link display-6-heading btn-block" data-toggle="collapse" href="#collapseProgInfo">
                            <i class="fa fa-info-circle"></i> Competition Information
                            <i class="fa fa-chevron-down float-right"></i>
                        </a>
                    </div>
                    <div id="collapseProgInfo" class="collapse" data-parent="#accordion">
                        <div class="card-body panel-body">
                            <p>
                                <h2 class="display-5-heading">Competition Sample</h2>
                                <!-- Program Details Table -->
                                <table class="table table-responsive table-striped table-sm">
                                    <tr>
                                        <Td width="20%"><b>Funding Organization:</b></Td>
                                        <td width="30%">
                                            Canadian Institutes of Health Research
                                        </td>
                                        <Td width="20%" class="text-right"><b>Program Launch Date:</b>

                                        </Td>
                                        <td width="30%">
                                            &nbsp; 2019-08-09
                                        </td>
                                    </tr>
                                    <tr>
                                        <Td>
                                            <b>Program Name:</b>
                                        </Td>
                                        <td>
                                            Other : Travel Awards – Institute Community Support<br /> (Summer 2019)
                                        </td>
                                        <Td class="text-right">
                                            <b>Deadline Date:</b>
                                        </Td>
                                        <td>
                                            &nbsp; TBD
                                        </td>
                                    </tr>
                                    <tr>
                                        <Td>
                                            <b>Sponsor(s):</b>
                                        </Td>
                                        <td>
                                            CIHR’s Institutes and Initiatives
                                        </td>
                                        <Td class="text-right">
                                            <b>Number of Applications:</b>
                                        </Td>
                                        <td>
                                            &nbsp; 352
                                        </td>
                                    </tr>
                                </table>
                                <a class="btn btn-info btn-sm float-right" href="https://www.researchnet-recherchenet.ca/rnr16/vwOpprtntyDtls.do?prog=3139&view=browseArchive&browseArc=true&progType=CIHR-13&type=EXACT&resultCount=25&sort=program&next=1&all=1" target="_blank" role="button"><i class="fa fa-external-link"></i> View Funding Details</a>
                                <br /><br />
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <br />

            <!-- CHARTS -->
            <div class="row">
                <div class="col-6 text-center d-none d-sm-none d-md-inline d-lg-inline">
                    <!-- Horizontal Bar Chart -->
                    <h4 class="display-6-heading">Provincial Distribution</h4>
                    <canvas id="horizontalBar" width="442" height="130"></canvas>
                </div>
                <div class="col-6 text-center d-none d-sm-none d-md-inline d-lg-inline">
                    <!-- Doughnut Chart-->
                    <h4 class="display-6-heading">Institute Distribution</h4>
                    <canvas id="doughnutChart" width="447" height="130"></canvas>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <!-- ACTION AREA -->
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-12">

                <!-- Instructions Panel -->
                <h2>Step 2</h2>
                <br />
                <p>
                    The applications submitted within the competition are listed below. To exclude any applications from pre-ranking, uncheck the associated checkbox for the application.
                </p>

                <p class="text-center">
                    <a class="btn btn-secondary btn-sm btn-block" style="color: white!important;" href="Step1.html">
                        <i class="fa fa-undo"></i> Start Again</a>
                </p>
            </div>

            <div class="col-md-10 col-lg-10 col-sm-12">
                <h2 class="display-5-heading">Competition Sample</h2>

                <!-- Application List Table -->
                <table class="table table-responsive table-sm table-striped" style="width: 100%;">
                    <thead style="background-color: white; border: white;">
                        <tr>
                            <th scope="col" style="color: #006200;">App. #</th>
                            <th scope="col" style="color: #006200;">Applicant</th>
                            <th scope="col" style="color: #006200;">Project Title</th>
                            <th scope="col" style="color: #006200;">Amount</th>
                            <th scope="col" style="color: #006200;">Include
                                <a href="#" data-toggle="modal" data-target="#modalInclude" style="color: #006200 !important; font-size: 14pt;">
                                    <Include><i class="fa fa-question-circle"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">418063</th>
                            <td>Maynard James Keenan</td>
                            <td>Salivary Flow Rates in Normal Healthy Aging: A Scoping Review of the Evidence</td>
                            <td>$1,600</td>
                            <td align="center"><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                            <th scope="row">417937</th>
                            <td>Josh Homme</td>
                            <td>Iron Chelation Attenuates LPS-Induced IL-6 Release in Cystic Fibrosis Epithelial Cells</td>
                            <td>$3,000</td>
                            <td align="center"><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                            <th scope="row">417939</th>
                            <td>Troy Van Leuween</td>
                            <td>The Effect of Magnesium ions on Dental Enamel Properties</td>
                            <td>$2,300</td>
                            <td align="center"><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                            <th scope="row">417959</th>
                            <td>Jon Theodore</td>
                            <td>The role of fat-free mass in metabolic health: An opposing perspective</td>
                            <td>$3,600</td>
                            <td align="center"><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                            <th scope="row">301837</th>
                            <td>Michael Shumacher</td>
                            <td>Cultivating Healthier Communities: Challenges to Generating Change</td>
                            <td>$4,900</td>
                            <td align="center"><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                            <th scope="row">417960</th>
                            <td>Danny Carey</td>
                            <td>Virtual Peer-to-Peer Support for Youth with Chronic Pain</td>
                            <td>$900</td>
                            <td align="center"><input type="checkbox" checked></td>
                        </tr>
                    </tbody>
                </table>
           

                <!-- ACTION BUTTONS-->
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <a class="btn btn-info float-left btn-block" style="color: white;" href="app_data/inputdata.html" target="_blank"><i class="fa fa-database"></i> View Source Data</a><br /><br />
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <a id="generateRanking" class="btn btn-success btn-block" style="color: white!important;" data-toggle="modal" data-target="#modalRanking" href="#"><i class="fa fa-list-ol"></i> Generate Pre-Ranking</a>
                    </div>
                </div>

            </div>
        </div>

        <br /><br /><br /><br />
    </div>

    <!--=================================-->
    <!--            MODALS               -->
    <!--=================================-->

    <!-- "Include" Tooltip Modal -->
    <div class="modal fade" id="modalInclude" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-success">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-info-circle" style="font-size: 18pt;"></i> Include/Exclude Applications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>To exclude any applications from pre-ranking, uncheck the associated checkbox for the application.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Processing Modal - Ranking In Progress -->
    <div class="modal fade" id="modalRanking" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-success">
                    <h5 class="modal-title"><i class="fa fa-search" style="font-size: 18pt;"></i> Stand By...</h5>
                </div>
                <div class="modal-body text-center lead">

                    Using my magic to pre-score the applications based on:<br />
                    <br />
                    <ul class="text-left">
                        <li> The Activity Objectives (2);</li>
                        <li> Knowledge Exchange/Dissemination (3);</li>
                        <li> Feasibility (2)</li>
                    </ul>
                    <br /> Total Criteria Used: 7
                    <br />
                    <br />
                    <i class="fa fa-cog fa-3x fa-spin"></i>
                </div>

            </div>
        </div>
    </div>

    <!-- End Main Content -->

    <!-- Page-Level jQuery scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        
        @section Scripts {
                <script>

                
                    //Simulates a wait while the server is ranking
                            //  the applications
                            $('#generateRanking').click(function(e) {
                                e.preventDefault();

                                setTimeout(function() {
                                    window.location.href = "/Results"; //will redirect to results page
                                }, 4500); //will call the function after 4.5 secs.


                            });



                            //INSTITUTE DOUGHNUT CHART CODE AND DATA
                            var ctxD = document.getElementById("doughnutChart").getContext('2d');
                            var myLineChart = new Chart(ctxD, {
                                type: 'doughnut',
                                data: {
                                    labels: ["ICR", "IA", "IIPH", "CIHR", "ICRH"],
                                    datasets: [{
                                        data: [300, 50, 100, 40, 120],
                                        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                                        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                                    }]
                                },
                                options: {
                                    responsive: true
                                }
                            });


                            //PROVINCE HORIZONTAL BAR CHART CODE AND DATA
                            new Chart(document.getElementById("horizontalBar"), {
                                "type": "horizontalBar",
                                "data": {
                                    "labels": ["AB", "BC", "SK", "NL", "ON", "QC", "NS", "NB", "PEI", "MB", "Terr."],
                                    "datasets": [{
                                        "label": "Applications Dataset",
                                        "data": [22, 33, 55, 12, 86, 23, 14, 9, 43, 33, 26],
                                        "fill": false,
                                        "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)",
                                            "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)",
                                            "rgba(153, 102, 255, 0.2)", "rgba(54, 162, 235, 0.2)", "rgba(54, 162, 235, 0.2)",
                                            "rgba(54, 162, 235, 0.2)", "rgba(54, 162, 235, 0.2)", "rgba(54, 162, 235, 0.2)",
                                        ],
                                        "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)",
                                            "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)",
                                            "rgb(201, 203, 207)", "rgb(201, 203, 207)", "rgb(201, 203, 207)", "rgb(201, 203, 207)"
                                        ],
                                        "borderWidth": 1
                                    }]
                                },
                                "options": {
                                    "scales": {
                                        "xAxes": [{
                                            "ticks": {
                                                "beginAtZero": true
                                            }
                                        }]
                                    }
                                }
                            });
            
                </script>


        }
        