@page
@model MyApp.Namespace.Step1Model
@{
          ViewData["Title"] = "Step 1";
}


<!-- Main Content -->
    <div class="container-fluid">


        <!-- JUMBOTRON-->
        <div class="jumbotron" style="padding: 2rem 2rem !important; background-image: url('images/meeting_bg.png'); height: 435px;">
            <h1 style="font-size: 48pt; font-family: 'Bungee Hairline', cursive;"><b>Welcome to ARIA*!</b></h1>
            <p class="lead">
                ARIA allows CIHR Program Staff to select a grant competition group and pre-rank the applications for Peer Reviewers using Artificial Intelligence.

                <a class="btn btn-info float-right" href="#" role="button" data-toggle="modal" data-target="#modalLearnMore"><i class="fa fa-lightbulb-o"></i> Learn more</a>
                <br />
            </p>
            <br />
            <br />
            <br />
            <p class="h2 d-none d-md-inline d-lg-inline d-xl-inline" style="font-family: 'Bungee Hairline';">
                <u>A</u>rtificial<br />
                <u>R</u>eviewer<br />
                <u>I</u>ntelligent
                <br /> <u>A</u>ssistant
            </p>
        </div>


        <!-- STEP 1 -->

        <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-12">
                <h2>Step 1</h2>
                <br />
                <p>To begin, select the open Program and Competition to Pre-Rank the applications within that group. The applications that are top ranked will be sent to Peer Reviewers to prioritize the applications they review.</p>
            </div>

            <div class="col-md-10 col-lg-10 col-sm-12">

                <br />

                <form>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="ddProgram">Program</label>
                            <select class="form-control" id="ddProgram">
                                    <option value="0">- Select Program - </option>
                                    <option value="1">Catalyst Grants</option>
                                    <option value="2">Doctoral Research Awards</option>
                                    <option value="3">Fellowships</option>
                                    <option value="4">Operating Grants</option>
                                    <option value="5">Other</option>
                                  </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="ddCompetition">Competition</label>
                            <select class="form-control" id="ddCompetition" disabled>
                                    <option value="0">- Select Competition -</option>
                                    <option value="1">Travel Awards: 2019 - Summer</option>
                                    <option value="2">Travel Awards: 2019 - Winter</option>
                                  </select>
                        </div>
                    </div>
                    <br />

                </form>

                <div class="row">
                    <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12"></div>
                    <div class="col-md-2 col-lg-2 col-xl-2 col-sm-12">
                        <a id="nextButton" class="btn btn-primary btn-block float-right" style="color: white!important;" href="#" data-toggle="modal" data-target="#modalLoading" >Next >></a>
                        <br />
                        <br />
                    </div>
                </div>

            </div>
        </div>





        <!-- Modal -->
        <div class="modal fade" id="modalLearnMore" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header btn-success">
                        <h5 class="modal-title" id="exampleModalLabel">How ARIA Works</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        
                        <h1>ARIA's Algorithm</h1>
                        <p>                            
                            ARIA uses <a href="https://en.wikipedia.org/wiki/Natural_language_processing" target="_blank">Natural Language Processing</a> to mine keywords from application synopsis', and applying <a href="https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm" target="_blank"><i>k</i>-Nearest Neighbours</a> and 
                            <a href="https://en.wikipedia.org/wiki/Naive_Bayes_classifier" target="_blank">Naive Bayes</a> algorithms to produce scores based on program criteria using real, historical past Peer Reviewer Scores.
                        </p>

                        <hr />

                        <h2><i class="fa fa-github"></i> Contribute on GitHub!</h2>
                        <p>
                            In compliance with the Government of Canada's <a href="https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=28108">Open Government Directive</a>,
                            our code is open and available for contribution:
                            <ul>
                                <li>
                                    <a href="https://github.com/xerotalent/ARIA_Net" target="_blank">Web Application Codebase</a>
                                </li>
                                <li>
                                    <a href="https://github.com/Greymain/peer13" target="_blank">R Script Algorithm</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modalLoading" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header btn-success">
                        <h5 class="modal-title"><i class="fa fa-search" style="font-size: 18pt;"></i> Stand By...</h5>
                    </div>
                    <div class="modal-body text-center lead">

                        Hold on a sec while I get those applications for you!

                        <br />
                        <i class="fa fa-cog fa-3x fa-spin"></i>
                    </div>

                </div>
            </div>
        </div>

        <!-- End Main Content -->

        <!-- Page-Level jQuery scripts -->
        @section Scripts {
                <script>
                 

                
                    $('#nextButton').click(function(e) {
                        e.preventDefault();

                        setTimeout(function() {
                            window.location.href = "/Step2"; //will redirect to next step
                        }, 3000); //will call the function after 3 secs.


                    });


                    $(function() {
                        $("#ddProgram").change(function() {
                            if ($(this).val() == "0") {
                                $("#ddCompetition").prop("disabled", true);
                            
                            }
                            else
                                $("#ddCompetition").prop("disabled", false);
                          
                        });
                    });                    
            
                </script>


        }
        
